<h2><b>{{ title }}</b></h2> <h3>{{ subtitle }}</h3>
<hr>
<br>
<br>
<div class="row">
	<div class="panel callout radius small-6 columns large-centered">
		<h3><b>Which App want you to update ?</b></h3>
		<br>
			<div class="row" ng-repeat="app in apps">
				<div class="small-4 columns">
					<label for="right-label" style="margin-bottom:0;" class="left inline"><a ng-href="/#/Apps/{{ app.name }}">{{ app.name }}</a></label>
				</div>
				<div class="small-3 columns">
					<button class="button tiny radius" style="margin-bottom:0;" ng-click="getAppForUpdate(app.name)">Update</button>
				</div>
			</div>
			<div ng-show="!apps.length" class="slide-animate-container">
				<div class="slide-animate panel radius">
					<h5>Sorry, we are Without Apps Fixed</h5>
					<p>Unfortunately, any Apps have been uploaded ... But, we suggest you to create one <a href="/#/Apps/Add">here</a>.</p>
				</div>
			</div>
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="large-10 large-centered columns">
		<div ng-show="app_update" class="panel callout radius">
			<h2><b>{{ app_update.name }}</b></h2>
			<hr>
			<form>
				<div class="row">
					<div class="small-8 columns">
						<div class="row">
							<div class="small-3 columns">
								<label for="name" class="right inline">App Name</label>
							</div>
							<div class="small-9 columns">
								<input type='text' name='app[name]' ng-model='app_update.name' />
							</div>
						</div>
						<div class="row">
							<div class="small-3 columns">
								<label for="author" class="right inline">Author</label>
							</div>
							<div class="small-9 columns">
								<input type='text' name='app[author]' ng-model='app_update.author' />
							</div>
						</div>
						<div class="row">
							<div class="small-3 columns">
								<label for="description" class="right inline">Description</label>
							</div>
							<div class="small-9 columns">
								<textarea id="description" rows="7" style="max-width:100%;" name='app[description]' ng-model='app_update.description'></textarea>
							</div>
						</div>
					</div>
					<div class="small-4 columns text-center">
						<br>
						<br>
						<br>
						<input type="submit" class="button small radius success" value="Update" ng-click="updateApp(app_update._id)" />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="large-4 large-centered columns">
		<div ng-show="message" data-alert class="alert-box success round">
			{{ message }}
		</div>
		<div ng-show="error" data-alert class="alert-box alert round">
			{{ error }}
		</div>
	</div>
</div>