<div class="row" data-equalizer>
	<div class="large-8 columns" data-equalizer-watch>
		<h2><b>{{ title }}</b></h2>
	</div>
	<div class="large-4 columns" data-equalizer-watch>
		<a class="button radius right" style="vertical-align:middle;margin-bottom:0;" href="/#/Apps">Back to App List</a>
	</div>
</div>
<hr>
<div class="panel large-10 columns large-centered">
	<div class="row">
		<div class="large-4 columns">
			<div id="image" class="row" style="text-align:center;">
				<a class="th" href="{{ app.image.url }}">
					<img src="{{ app.image.url }}" alt="{{  app.image.label }}" width="150px" height="150px">
				</a>
			</div>
		</div>
		<div class="large-2 columns">
			<label>Author : </label>
			{{ app.author }}
			<br>
			<br>
			<label>Cost : </label>
			<span ng-hide="app.price != 0"><b>Free</b></span>
			<span ng-show="app.price > 0"><b>{{ app.price + " €" }}</b></span>
			<br>
			<br>
			<label>Donation Link : </label>
			<a ng-show="app.linkDonation" href="app.linkDonation">{{ app.linkDonation }}</a>
			<span ng-show="!app.linkDonation">N/A</span>
		</div>
		<div class="large-3 columns">
			<label>Publication Date : </label>
			{{ app.publicationDate | date : 'fullDate' }}
			<br>
			<br>
			<label>Last Update Date : </label>
			{{ app.lastUpdateDate | date : 'fullDate' }}
		</div>
		<div class="large-3 columns">
			Category : <span class="label" style="background-color:{{ app.category.color }};">{{ app.category.label }}</span>
			<br>
			<br>
			<label>Related Link : </label>
			<span ng-show="app.link">
				<a href="{{ app.link }}">Access to developer website</a>
			</span>
			<span ng-show="!app.link">N/A</span>
			<br>
			<br>
			<label>Support : </label>
			<span ng-show="app.mail">
				<a href="mailto:{{ app.mail }}">Contact developers</a>
			</span>
			<span ng-show="!app.mail">N/A</span>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="large-4 columns"></div>
		<div class="large-4 columns"></div>
		<div class="large-4 columns">
			<div id="btn_download" class="row" style="text-align:center;">
				<button ng-show="app.price == 0" class="tiny radius success" data-reveal-id="modal-download">Download</button>
				<button ng-show="app.price > 0" class="tiny radius success" data-reveal-id="modal-confirm-basket">Add to Basket</button>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="large-12 columns large-centered">
		<h4><u><i><b>Description :</b></i></u></h4>
		<br>
		<pre style="word-wrap:break-word;font-size:14px;font-family:Roboto,Arial,sans-serif;line-height:20px;">{{ app.description }}</pre>
		<br>
	</div>
</div>
<hr ng-show="app_suggestions.length > 0">
<div ng-show="app_suggestions.length > 0" class="row">
	<h3>You will be also interested in ...</h3>
	{{ test }}
	<div class="row">
		<div class="small-2 columns left row" ng-repeat="item in app_suggestions" data-equalizer>
			<ul class="pricing-table" data-equalizer-watch>
				<li class="title" style="padding-left:5px;padding-right:5px;">
					{{ item.name | limitTo : 18 }}
				</li>				
				<li class="text-center">
					<img src="{{ item.image.url }}" alt="{{  item.image.label }}" width="150px" height="150px">
				</li>
				<li class="description" style="padding-left:3px;padding-right:3px;">
					<span class="label" style="background-color:{{ item.category.color }};">
						{{ item.category.label }}
					</span>
				</li>
				<li ng-show="!item.price" class="price" style="font-size:1rem;font-weight:bold;background-color:#84D3EA;">
					Free
				</li>
				<li ng-show="item.price > 0" class="price" style="font-size:1rem;font-weight:bold;background-color:#EAB484;">
					{{ item.price + " €" }}
				</li>
				<li class="cta-button">
					<a class="button radius tiny" ng-href="/#/Apps/{{ item.name }}">
						Details ...
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<br>
<div ng-show="error" data-alert class="alert-box alert round">
	{{ error }}
</div>

<div id="modal-confirm-basket" class="reveal-modal" data-reveal>
	<div class="row">
		<h2>Basket confirmation</h2>
	</div>
	<br>
	<div class="row">
		<div class="large-8 columns">
			<p>The App : <a ng-href="/#/Apps/{{ app.name }}">{{ app.name }}</a> has been added to your basket.</p>
			<p>To download it, browse to your basket and finalize your shopping ...</p>
			<p>... or continue your purchase !</p>
		</div>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>

<div id="modal-download" class="reveal-modal" data-reveal>
	<div class="row">
		<h2>Download of {{ app.name }}</h2>
	</div>
	<br>
	<div class="row">
		<div class="large-8 columns">
			<p>You are going to download the following App : <a ng-href="/#/Apps/{{ app.name }}">{{ app.name }}</a> !</p>
			<p>Please wait while the link is generated or click on the 'Download right now' button...</p>

			<br>
			<span class="text-center">
				<img src="../../content/loader.gif" alt="Loading...">
			</span>
		</div>
		<div class="large-4 columns">
			<button class="tiny button radius success">Download right now !</button>
		</div>
	</div>
	<a class="close-reveal-modal">&#215;</a>
</div>