<h2><b>{{ title }}</b></h2> <h3>{{ subtitle }}</h3>
<hr>
<br>
<br>
<div class="row">
	<div class="panel radius small-6 columns panel large-centered">
		<h3><b>Which App want you to delete ?</b></h3>
		<br>
			<div class="row" ng-repeat="app in apps">
				<div class="small-4 columns">
					<label for="right-label" style="margin-bottom:0;" class="left inline"><a ng-href="/#/Apps/{{ app.name }}">{{ app.name }}</a></label>
				</div>
				<div class="small-3 columns">
					<button class="button tiny radius" style="margin-bottom:0;" ng-click="deleteApp(app._id)">Delete</button>
				</div>
			</div>
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="large-4 large-centered columns">
		<div ng-show="message" data-alert class="alert-box success round">
			{{ message }}
		</div>
		<div ng-show="error" data-alert class="alert-box alert round">
			{{ error }}
		</div>
	</div>
</div>