<h2><b>{{ title }}</b></h2> <h3>{{ subtitle }}</h3>
<hr>
<br>
<br>
<div class="row">
	<div class="panel callout radius small-6 columns large-centered">
		<h3><b>Which App want you to update ?</b></h3>
		<br>
			<div class="row" ng-repeat="app in apps">
				<div class="small-2 columns">
					<img src="{{ app.image.url }}" alt="{{ app.image.label }}" height="50px" width="50px">
				</div>

				<div class="small-4 columns">
					<label for="right-label" style="margin-bottom:0;" class="left inline"><a ng-href="/#/Apps/{{ app.name }}">{{ app.name }}</a></label>
				</div>
				<div class="small-3 columns">
					<button class="button tiny radius" style="margin-bottom:0;" ng-click="getAppForUpdate(app.name)">Update</button>
				</div>
			</div>
			<div ng-show="!apps.length" class="slide-animate-container">
				<div class="slide-animate panel radius">
					<h5>Sorry, we are Without Apps Fixed</h5>
					<p>Unfortunately, any Apps have been uploaded ... But, we suggest you to create one <a href="/#/Apps/Add">here</a>.</p>
				</div>
			</div>
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="large-10 large-centered columns">
		<div ng-show="app_update" class="panel callout radius">
			<h2><b>{{ app_update.name }}</b></h2>
			<hr>
			<form>
				<div class="row">
					<div class="small-9 columns">
						<div class="row">
							<fieldset>
								<legend>App definition</legend>
								<div class="row">
									<div class="small-3 columns">
										<label for="name" class="right inline">App Name</label>
									</div>
									<div class="small-9 columns">
										<input type='text' name='app[name]' ng-model='app_update.name' />
									</div>
								</div>
								<div class="row">
									<div class="small-3 columns">
										<label for="author" class="right inline">Author</label>
									</div>
									<div class="small-9 columns">
										<input type='text' name='app[author]' ng-model='app_update.author' />
									</div>
								</div>
								<div class="row">
									<div class="small-3 columns">
										<label for="description" class="right inline">Description</label>
									</div>
									<div class="small-9 columns">
										<textarea id="description" rows="7" style="max-width:100%;" name='app[description]' ng-model='app_update.description'></textarea>
									</div>
								</div>
							</fieldset>
						</div>
						<br>
						<div class="row">
							<fieldset>
								<legend>Image App</legend>
								<div class="row" style="margin-top:5px;">
									<div class="small-10 columns small-centered panel callout" style="padding: 4px;">
										A default image will be attributed if do not want to provide a custom image.
										<br>
										<br>
										<small><i>Most appropriate resolution : 150x150.</i></small>
									</div>
								</div>
								<div class="row">
									<div class="small-3 columns">
										<label for="image-url" class="right inline">Image URL</label>
									</div>
									<div class="small-9 columns">
										<div class="row collapse">
											<div class="small-3 large-2 columns">
												<span class="prefix">URL</span>
											</div>
											<div class="small-9 large-10 columns">
												<input name="app[image.url]" type="text" ng-model="app_update.image.url">
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="small-3 columns">
										<label for="image-label" class="right inline">Image label</label>
									</div>
									<div class="small-9 columns">
										<input name="app[image.label]" type="text" ng-model="app_update.image.label">
									</div>
								</div>
								<div class="row">
									<div class="small-3 columns">
										<label for="image-preview" class="right inline">Image Preview</label>
									</div>
									<div class="small-9 columns">
										<img ng-show="app_update.image.url" src="{{app_update.image.url}}" alt="{{app_update.image.label}}" height="150px" width="150px">
										<img ng-show="!app_update.image.url" src="../../content/image-app-default.png" alt="App Default image">
									</div>
								</div>
							</fieldset>
						</div>
						<br>
						<div class="row">
							<fieldset>
								<legend>Category, link & e-mail</legend>
								<div class="row">

									<div class="small-3 columns">
										<label for="category" class="right inline">Category</label>
									</div>
									<div class="small-3 columns">
										<span class="label" style="background-color:{{app_update.category.color}};">
												{{ app_update.category.label }}
										</span>
									</div>
									<div class="small-5 columns left">
										<select name='app[category]' ng-model="app_update.category" ng-options="category.label for category in categories">
											<option value="" selected>Select to update</option>
										</select>
									</div>
								</div>
								<div class="row">
									<div class="small-3 columns">
										<label for="link" class="right inline">Link</label>
									</div>
									<div class="small-7 columns left">
										<div class="row collapse">
											<div class="small-3 large-2 columns">
												<span class="prefix">http://</span>
											</div>
											<div class="small-9 large-10 columns">
												<input name="app[link]" type="text" ng-model="app_update.link" placeholder="Enter your URL...">
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="small-3 columns">
										<label for="email" class="right inline">E-mail</label>
									</div>
									<div class="small-7 columns left">
										<div class="row collapse">
											<div class="small-3 large-2 columns">
												<span class="prefix">@</span>
											</div>
											<div class="small-9 large-10 columns">
												<input name="app[mail]" type="text" ng-model="app_update.mail" placeholder="Enter an e-mail to contact support ...">
											</div>
										</div>
									</div>
								</div>				
							</fieldset>
						</div>
						<br>
						<div class="row">
							<fieldset>
								<legend>4 - What about price ?</legend>
								<div class="row">
									<div class="small-3 columns">
										<label for="price" class="right inline" style="padding:0;margin:1.25rem 0;">Price (€)</label>
									</div>
									<div class="small-4 columns left">
										<div class="row">
											<input type="number" min="0" max="10" style="margin:10px 0;" ng-model="app_update.price">
										</div>
									</div>
									<div class="small-5 columns left">
										<div class="panel callout" style="padding:0.75rem;font-size:12px;margin:10px 0;">
											For <b>Free App</b>, put cursor to 0.
										</div>
									</div>
								</div>
								<div class="row">
									<div class="small-3 columns">
										<label for="linkDonation" class="right inline">Donation Link</label>
									</div>
									<div class="small-8 columns left">
										<div class="row collapse">
											<div class="small-3 large-2 columns">
												<span class="prefix">http://</span>
											</div>
											<div class="small-9 large-10 columns">
												<input type="text" ng-model="app_update.linkDonation" placeholder="Enter your URL...">
											</div>
										</div>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
					<div class="small-3 columns text-center">
						<br>
						<br>
						<br>
						<input type="submit" class="button small radius success" value="Update" ng-click="updateApp(app_update._id)" />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="large-4 large-centered columns">
		<div ng-show="message" data-alert class="alert-box success round">
			{{ message }}
		</div>
		<div ng-show="error" data-alert class="alert-box alert round">
			{{ error }}
		</div>
	</div>
</div>