<h2><b>{{ title }}</b> <small>{{ subtitle }}</small></h2>
<br>
<br>
<div class="row">
	<div class="large-6 large-centered columns">
		<div ng-show="confirmMessage" data-alert class="alert-box success round">
			{{ confirmMessage }}
		</div>
		<div ng-show="error" data-alert class="alert-box alert round">
			{{ error }}
		</div>
	</div>
</div>
<form>
	<div class="row">
		<div class="small-8 columns">
			<div class="row">
				<fieldset>
					<legend>1 - Define your App</legend>
					<div class="row">
						<div class="small-3 columns">
							<label for="name" class="right inline">App Name</label>
						</div>
						<div class="small-9 columns">
							<input type='text' name='app[name]' ng-model="newApp.name" placeholder='Enter an app name' />
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							<label for="author" class="right inline">Author</label>
						</div>
						<div class="small-9 columns">
							<input type='text' name='app[author]' ng-model="newApp.author" placeholder='Enter the author name' />
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							<label for="description" class="right inline">Description</label>
						</div>
						<div class="small-9 columns">
							<textarea id="description" rows="7" style="max-width:100%;"margin-bottom:8px;"" name='app[description]' ng-model="newApp.description"></textarea>
						</div>
					</div>
				</fieldset>
			</div>
			<br>
			<div class="row">
				<fieldset>
					<legend>2 - Add a wonderful image</legend>
					<div class="row" style="margin-top:5px;">
						<div class="small-10 columns small-centered panel callout" style="padding: 4px;">
							A default image will be attributed if do not want to provide a custom image.
							<br>
							<br>
							<small><i>Most appropriate resolution : 150x150.</i></small>
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							<label for="image-url" class="right inline">Image URL</label>
						</div>
						<div class="small-9 columns">
							<div class="row collapse">
								<div class="small-3 large-2 columns">
									<span class="prefix">URL</span>
								</div>
								<div class="small-9 large-10 columns">
									<input name="app[image.url]" type="text" ng-model="newApp.image.url" placeholder="Provide an URL...">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							<label for="image-label" class="right inline">Image label</label>
						</div>
						<div class="small-9 columns">
							<input name="app[image.label]" type="text" ng-model="newApp.image.label" placeholder="Describe the image...">
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							<label for="image-preview" class="right inline">Image Preview</label>
						</div>
						<div class="small-9 columns">
							<img ng-show="newApp.image.url" src="{{newApp.image.url}}" alt="{{newApp.image.label}}" height="150px" width="150px">
							<img ng-show="!newApp.image.url" src="../../content/image-app-default.png" alt="App Default image">
						</div>
					</div>
				</fieldset>
			</div>
			<br>
			<div class="row">
				<fieldset>
					<legend>3 - Associate a category, a link, an e-mail</legend>
					<div class="row">
						<div class="small-3 columns">
							<label for="category" class="right inline">Category</label>
						</div>
						<div class="small-5 columns left">
							<select name='app[category]' ng-model="newApp.category" ng-options="category.label for category in categories"></select>
						</div>
						<div ng-show="newApp.category" class="small-4 columns">
								<span class="label" style="background-color:{{newApp.category.color}};">
									{{ newApp.category.label }}
								</span>
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							<label for="link" class="right inline">Link</label>
						</div>
						<div class="small-8 columns left">
							<div class="row collapse">
								<div class="small-3 large-2 columns">
									<span class="prefix">URL</span>
								</div>
								<div class="small-9 large-10 columns">
									<input name="app[link]" type="text" ng-model="newApp.link" placeholder="Enter your URL...">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							<label for="email" class="right inline">E-mail</label>
						</div>
						<div class="small-8 columns left">
							<div class="row collapse">
								<div class="small-3 large-2 columns">
									<span class="prefix">@</span>
								</div>
								<div class="small-9 large-10 columns">
									<input name="app[mail]" type="text" ng-model="newApp.mail" placeholder="Enter an e-mail to contact support ...">
								</div>
							</div>
						</div>
					</div>				
				</fieldset>
			</div>
			<br>
			<div class="row">
				<fieldset>
					<legend>4 - What about price ?</legend>
					<div class="row">
						<div class="small-3 columns">
							<label for="price" class="right inline" style="padding:0;margin:1.25rem 0;">Price (€)</label>
						</div>
						<div class="small-5 columns left">
							<div class="row">
								<div class="small-9 medium-10 columns">
									<div class="range-slider" data-slider data-options="start: 0; end: 10;step: 0.50;display_selector: #sliderPrice;">
										<span class="range-slider-handle"></span>
										<span class="range-slider-active-segment"></span>
									</div>
								</div>
								<div class="small-2 medium-2 columns" style="margin:1.25rem 0;">
									<span id="sliderPrice"></span>
								</div>
							</div>
						</div>
						<div class="small-4 columns left">
							<div class="panel callout" style="padding:0.75rem;font-size:12px;margin:10px 0;">
								For <b>Free App</b>, put cursor to 0.
							</div>
						</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							<label for="linkDonation" class="right inline">Donation Link</label>
						</div>
						<div class="small-8 columns left">
							<div class="row collapse">
								<div class="small-3 large-2 columns">
									<span class="prefix">URL</span>
								</div>
								<div class="small-9 large-10 columns">
									<input name="app[linkDonation]" type="text" ng-model="newApp.linkDonation" placeholder="Enter your URL...">
								</div>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
		<div class="small-4 columns text-center">
			<br>
			<br>
			<br>
			<input type="submit" class="button small radius success" value="Add" ng-click="createApp()" />
		</div>
	</div>
</form>