<h2 ng-hide="filterCategory"><b>{{ title }}</b></h2>
<h2 ng-show="filterCategory"><b>{{ 'Apps > ' + filterCategory.label }}</b></h2>
<br>
<div class="row">
	<div class="row panel callout radius large-8 columns large-centered" style="padding-bottom:5px;">
		<div class="row">
			<h3><b>Filters</b></h3>
			<div class="small-2 columns">
				<label for="name" class="right inline">Research by Name :</label>
			</div>
			<div class="small-2 columns">
				<input type="text" ng-model="filterName" autocomplete="off" list="suggestions">

				<datalist id="suggestions">
					<option data-ng-repeat="item in apps | limitTo:5" value="{{item.name}}" />
				</datalist>
			</div>
			<div class="small-1 columns">
				<label for="Cost" class="right inline">Cost :</label>
			</div>
			<div class="small-2 columns">
				<select ng-model="filterCost">
					<option></option>
					<option value="free">Free</option>
					<option value="payable">Payable</option>
				</select>
			</div>
			<div class="small-2 columns">
				<label for="Category" class="right inline">Category :</label>
			</div>
			<div class="small-3 columns">
				<select ng-model="filterCategory" ng-options="category.label for category in categories">
					<option></option>
				</select>
			</div>
		</div>
		<div class="row">
			<h3><b>Sorts</b><small> <i>(the order of the selection of the sorts is important)</i></small></h3>
			<div class="small-2 columns">
				<label for="SortName" class="right inline">Sort by Name :</label>
			</div>
			<div class="small-2 columns">
				<select ng-model="sortName" class="left">
					<option></option>
					<option value="name">A-Z</option>
					<option value="-name">Z-A</option>
				</select>
			</div>				
			<div class="small-2 columns">
				<label for="SortPublicationDate" class="right inline">Publication Date :</label>
			</div>
			<div class="small-2 columns">
				<select ng-model="sortPublicationDate" class="left">
					<option></option>
					<option value="-publicationDate">Newest</option>
					<option value="publicationDate">Oldest</option>
				</select>
			</div>
			<div class="small-1 columns">
				<label for="SortPrice" class="right inline">Price :</label>
			</div>
			<div class="small-2 columns end">
				<select ng-model="sortPrice" class="left">
					<option></option>
					<option value="price">Lowest</option>
					<option value="-price">Highest</option>
				</select>
			</div>			
		</div>
		<div class="row right">
			<h4>{{ filteredApps.length + '/' + apps.length }} App(s) found</h4>
		</div>
	</div>
</div>
<br>
<div class="row" data-equalizer>
	<div class="large-2 columns" data-ng-repeat="app in filteredApps = (apps | NameFilter: filterName | CategoryFilter: filterCategory | PriceFilter: filterCost | orderBy:[sortName, sortPublicationDate, sortPrice])">
		<div class="row">
			<ul class="pricing-table" data-equalizer-watch>
				<li class="title" style="padding-left:5px;padding-right:5px;">
					{{ app.name | limitTo : 18 }}
				</li>				
				<li class="text-center">
					<img src="../../content/image-app-default.png" alt="{{ app.name }}">
				</li>
				<li class="description" style="padding-left:3px;padding-right:3px;">
					<span class="label" style="background-color:{{ app.category.color }};">
						{{ app.category.label }}
					</span>
				</li>
				<li ng-show="!app.price" class="price" style="font-size:1rem;font-weight:bold;background-color:#84D3EA;">
					Free
				</li>
				<li ng-show="app.price > 0" class="price" style="font-size:1rem;font-weight:bold;background-color:#EAB484;">
					{{ app.price + " €" }}
				</li>
				<li class="cta-button">
					<a class="button radius tiny" ng-href="/#/Apps/{{ app.name }}">
						Details ...
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div ng-show="!apps.length">
		<div class="slide-animate panel radius">
			<h5>Sorry, we are Without Apps Fixed</h5>
			<p>Unfortunately, any Apps have been uploaded ... But, we suggest you to create one <a href="/#/Apps/Add">here</a>.</p>
		</div>
	</div>
	<div ng-show="filteredApps.length == 0">
		<div class="slide-animate panel radius">
			<h5>Sorry, any matches for the following research :</h5>
			<br>
			<ul>
				<li ng-hide="!filterName">Name : <i>{{ filterName }}</i></li>
				<li ng-hide="!filterCost">Cost : <i>{{ filterCost }}</i></li>
				<li ng-hide="!filterCategory">Category : <span class="label" style="background-color:{{ filterCategory.color }};">{{ filterCategory.label }}</span></li>
			</ul>
			<p>Please check your filters or launch another research.</p>
		</div>
	</div>
</div>
<br>
<br>
<div ng-show="error" data-alert class="alert-box alert round">
	{{ error }}
</div>